<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>691558670512-cch3djlr1jf8me0knfsd8s1cmfnrbvl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691558670512-cch3djlr1jf8me0knfsd8s1cmfnrbvl6</string>
	<key>API_KEY</key>
	<string>AIzaSyAR9dmGhcwAf4BKrFP499HNHlAhfLjVY4s</string>
	<key>GCM_SENDER_ID</key>
	<string>691558670512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ArthurTam.Homeworks</string>
	<key>PROJECT_ID</key>
	<string>homework-23d2f</string>
	<key>STORAGE_BUCKET</key>
	<string>homework-23d2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691558670512:ios:3a021be02f8bf740</string>
	<key>DATABASE_URL</key>
	<string>https://homework-23d2f.firebaseio.com</string>
</dict>
</plist>