<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>572796899883-cdeuee3bv0uf4k5p02pv9h406hgcqvek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572796899883-cdeuee3bv0uf4k5p02pv9h406hgcqvek</string>
	<key>API_KEY</key>
	<string>AIzaSyBB2qAyRXwENDvH64qHI9vg5MSHThA6mUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>572796899883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ArthurTam.Homework</string>
	<key>PROJECT_ID</key>
	<string>homework-8bb0f</string>
	<key>STORAGE_BUCKET</key>
	<string>homework-8bb0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572796899883:ios:25ff17c0cd1c7e3b</string>
	<key>DATABASE_URL</key>
	<string>https://homework-8bb0f.firebaseio.com</string>
</dict>
</plist>